<section class="flex gap-2 flex-column pb-2">

  <div class="flex gap-2">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" #queryText (input)="onQueryChange(queryText.value)"
        [value]="filters?.q">
    </span>
    <button pButton type="button" class="p-button-outlined p-button-rounded" icon="pi pi-filter" iconPos="left"
      label="Filter" (click)="onFilterToggle()"></button>
  </div>

  <div class="flex">
    <p-checkbox name="select-all" value="select_all" label="Select all properties"></p-checkbox>
  </div>

</section>
